.root{
-fx-background-image:url('../images/menuPage.jpg');
-fx-background-size:cover;
}

.mainHeader{
-fx-text-fill: white;
-fx-font-family: 'serif';
-fx-font-size: 45px;
-fx-font-weight: bold;
-fx-line-height: 48px; margin: 0;
}

.options{
-fx-font-weight:bold;
-fx-text-fill:white;
-fx-font-family:'Arial';
}