.root{
-fx-background-color:linear-gradient(to bottom, black, grey);
}

.mainHeader{
-fx-text-fill: #7c795d;
-fx-font-family: 'serif';
-fx-font-size: 45px;
-fx-font-weight: bold;
-fx-line-height: 48px; margin: 0;
}

.speedTestOption{
-fx-font-weight:bold;
-fx-font-color:white;
-fx-font-family:'Arial';
}